image: itzg/minecraft-server
imageTag: latest

## ref: http://kubernetes.io/docs/user-guide/compute-resources/
resources:
  requests:
    memory: 512Mi
    cpu: 500m

strategyType: Recreate

nodeSelector: {}

tolerations: []

affinity: {}

securityContext:
  runAsUser: 1000
  fsGroup: 2000
livenessProbe:
  initialDelaySeconds: 30
  periodSeconds: 5
  failureThreshold: 10
  successThreshold: 1
  timeoutSeconds: 1
readinessProbe:
  initialDelaySeconds: 30
  periodSeconds: 5
  failureThreshold: 10
  successThreshold: 1
  timeoutSeconds: 1
startupProbe:
  enabled: false
  failureThreshold: 30
  periodSeconds: 10

extraVolumes: []

minecraftServer:
  # This must be overridden, since w can't accept this for the user.
  eula: "TRUE"
  version: "LATEST"
  type: "VANILLA"
  forgeVersion:
  forgeInstallerUrl:
  ftbServerMod:
  cfServerMod:
  ftbLegacyJavaFixer: false
  difficulty: normal
  whitelist:
  # A comma-separated list of player names who should be admins.
  ops:
  icon:
  maxPlayers: 20
  maxWorldSize: 29999984
  allowNether: true
  announcePlayerAchievements: true
  enableCommandBlock: true
  forcegameMode: false
  generateStructures: true
  hardcore: false
  maxBuildHeight: 256
  maxTickTime: 60000
  spawnAnimals: true
  spawnMonsters: true
  spawnNPCs: true
  viewDistance: 12
  levelSeed:
  gameMode: survival
  motd: "Welcome to Minecraft on Kubernetes!"
  pvp: true
  levelType: DEFAULT
  generatorSettings:
  worldSaveName: world
  forceReDownload: false
  downloadModpackUrl:
  removeOldMods: true
  onlineMode: true
  memory: 1024M
  jvmOpts: ""
  jvmXXOpts: ""
  serviceAnnotations: {}
  serviceType: ClusterIP
  nodePort:
  servicePort: 25565
  loadBalancerIP:
  externalIPs:

  rcon:
    # If you enable this, make SURE to change your password below.
    enabled: false
    port: 25575
    password: "CHANGEME!"
    existingSecret:
    secretKey: rcon-password
    serviceType: ClusterIP
    ## Set the external port if the rcon serviceType is NodePort
    nodePort:
    loadBalancerIP:
    # loadBalancerSourceRanges: []
    ## Set the externalTrafficPolicy in the Service to either Cluster or Local
    # externalTrafficPolicy: Cluster

  extraPorts: []
    # These options allow you to expose another port from the Minecraft server, plugins such
    # as dynmap (8123) and bluemap (8100) will require this for access to their web interfaces
    #
    # - name: map
    #   containerPort: 8123
    #   protocol: TCP
    #   service:
    #     enabled: false
    #     embedded: false
    #     annotations: {}
    #     type: ClusterIP
    #     loadBalancerIP: ""
    #     loadBalancerSourceRanges: []
    #     externalTrafficPolicy: Cluster
    #     port: 8123
    #   ingress:
    #     enabled: false
    #     annotations:
    #       kubernetes.io/ingress.class: nginx
    #       kubernetes.io/tls-acme: "true"
    #     hosts:
    #       - name: map.local
    #         path: /
    #     tls:
    #       - secretName: map-tls
    #         hosts:
    #           - map.local

  query:
    # If you enable this, your server will be "published" to Gamespy
    enabled: false
    port: 25565

extraEnv: {}

persistence:
  annotations: {}
  # storageClass: "-"
  dataDir:
    enabled: true
    Size: 4Gi

podAnnotations: {}

deploymentAnnotations: {}

serviceAnnotations: {}

rconServiceAnnotations: {}
